<%- include('../partials/header'); %>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Parts</th>
            <th scope="col">Selection</th>
            <th scope="col">Price(SGD)</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        <% for (let key in product) { %>
        <tr>
            <td><%=product[key] %></td>
            <% if(!userBuild[key]){ %>
            <td><a href="/pcpicker/<%=key %>"><button type="button" class="btn btn-primary"><%='Choose a '+product[key] %></button></a></td>
            <td></td>
            <td></td>
            <td></td>
            <% }else{ %>
            <td><%= userBuild[key].name %><a href="/pcpicker/<%= key %> "> Change</a></td>
            <td><%= userBuild[key].price %></td>
            <td><a href="<%= userBuild[key].url %>" target="_blank"><button type="submit" class="btn btn-success">BUY</button></a></td>
            <td>
                <form method="POST" action="/pcpicker/<%= key %>?_method=PATCH">
                    <button type="submit" class="btn btn-danger" name="item" value="">DELETE</button>
                </form>
            </td>
            <% } %>
        </tr>
        <%}%>
    </tbody>
    
</table>

<%- include('../partials/footer'); %>