<%- include('../partials/header'); %>

<div class="d-flex flex-wrap" id="board">
    <% collection.forEach((element,index) => { %>
    <div class="post">
        <div class="collection-board">
            <img class="collection-size" src="<%= element.image%>" />
        </div>
        <div class="content">
        <i class='fas fa-user-circle' style='font-size:30px'> <%= element.username %> </i>
        <p class="time"><%=msToTime(Date.now()-element.updated_at)%> </p>
        <h4><a href="/collection/<%= element._id %>"><%= element.title %></a></h4>
        
        <p><%= element.description %> </p>
        <hr class="line">
        <i class='far fa-thumbs-up' style='font-size:30px' id="like-status"> <%= element.likes.length %></i>
        <hr class="line">  
        <div class="row">
            <form method="POST" action="/collection/like/<%= element._id %>" class="col" id="form-id">

                <% if(element.likes.indexOf(user.username) !== -1){ %>
                <button type="submit" class="like-button" id="liked">
                    <i class='fas fa-thumbs-up'> Like</i></button>
                <% }else{%>
                <button type="submit" class="like-button" id="like">
                    <i class='far fa-thumbs-up'> Like</i></button>
                <% } %>

            </form>
            
            <button id="comment-button" class="col">
                <i class='far fa-comment-alt'> Comment</i>
            </button>
        </div>
        <hr class="line">   
        <% let comment = element.comments %>
        <% comment.sort((a,b) => (a.updated_at > b.updated_at) ? -1 : ((b.updated_at > a.updated_at) ? 1 : 0)) %>
        <% comment.splice(0,3).forEach(elementComment => { %>
        <i class='fas fa-user-circle' style='font-size:20px;color:grey' > <%=elementComment.username %><%=": "+elementComment.content %> </i>
        <p class="time"><%=msToTime(Date.now()-elementComment.updated_at)%> </p>
        <% }); %>

        <form method="POST" action="/collection/comment/<%= element._id %>">
            <div class="form-group row">
                <div class="col-md-auto"><i class='fas fa-user-circle' style='font-size:30px'></i></div>
                <div class="col"><input class="form-control form-control-sm col" id="comment-box" name="comment" />
                </div>
            </div>
            <button type="submit" class="btn btn-info" id="comment">Submit</button>
        </form>

        <%   function msToTime(duration) {%>
        <%    let time = 0 %>
        <%    let minutes = Math.floor((duration / (1000 * 60)) % 60)%>
        <%    let hours = Math.floor((duration / (1000 * 60 * 60)) % 24)%>
        <%    let days = Math.floor((duration / (1000 * 60 * 60 * 24)))%>
        <%    time = (days > 0) ? days +"d" : (hours > 0) ? hours+"h": minutes+"m"%>
        <%    return time%>
        <%  }%>
    </div>
    </div>
    <% }) %>
</div>

<%- include('../partials/footer'); %>