<%- include('../partials/header'); %>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"><%= items[0].type.toUpperCase() %></th>
            <th scope="col">Manufacturer</th>
            <% for (let key in items[0].properties) { %>
            <%if (key==='tdp'){%>
            <th><%=key.toUpperCase() %></th>
            <%}else{%>
            <th><%=key.charAt(0).toUpperCase()+key.slice(1).replace('_',' ') %></th>
            <%}%>
            <%}%>
            <th scope="col">Price (SGD)</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        <% for (let i = 0; i<items.length;i++) { %>
        <tr>
            <td>
                <div class="image-box"><img class="image-selection" src="<%= items[i].image %>"></div>
            </td>
            <td><%=items[i].name %></td>
            <td><%=items[i].manufacturer %></td>
            <% for (let key in items[i].properties) { %>
            <td><%=items[i].properties[key]%></td>
            <%}%>
            <td><%=items[i].price %></td>
            <td>
                <form method="POST" action="/collection/selector/<%= items[0].type %> ?_method=PATCH">
                    <button type="submit" class="btn btn-success" name="item" value="<%= items[i].slug %>">Add</button>
                </form>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>

<%- include('../partials/footer'); %>