<%- include('../partials/header'); %>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Parts</th>
            <th scope="col">Selection</th>
            <th scope="col">Price(SGD)</th>
            <th scope="col"></th>
            <th scope="col">Status</th>
        </tr>
    </thead>

    <tbody>
        <% for (let key in product) { %>
        <tr>
            <th scope="row"><%=product[key] %></th>
            <td><%= userBuild[key].name %></td>
            <td><%= userBuild[key].price %></td>
            <td><a href="<%= userBuild[key].url %>" target="_blank"><button type="submit"
                        class="btn btn-success">BUY</button></a></td>
            <td><i class='fas fa-lock' style='font-size:36px;color:red;'></i></td>
        </tr>
        <%}%>
        <tr>
            <td></td>
            <td></td>
            <td><%= 'Total: '+userBuild.totalPrice %> </td>
        <td></td>
        <td></td>
        </tr>
    </tbody>
</table>
<a href="/pcpicker/list"><button type="submit" class="btn btn-primary">BACK</button></a>
<form method="POST" action="/collection">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" />
    </div>
    <div class="form-group">
        <label for="img-url">Image URL</label>
        <input type="url" class="form-control" id="img-url" placeholder="www.example.com" name="image" id="img-url">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" class="form-control" rows="3" name="description" id="description"></textarea>
    </div>
    <button type="submit" class="btn btn-info">SHARE!</button>
</form>
<%- include('../partials/footer'); %>